@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;
  --font-playfair-display: "Playfair Display", serif;
}

.carousel-item {
  transition: all 0.5s ease-in-out;
}

@layer utilities {
  .bg-hero {
    background-image: url("../image/hero-background.png");
  }

  .bg-product {
    background-image: url("../image/product-background.png");
  }

  .bg-login {
    background-image: url("../image/login-background.png");
  }
}
